.chatBotPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    
}


/* RESPONSE.JSX */
.response-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  .message {
    max-width: 550px;
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    word-wrap: break-word;
  }
  
  .message-left {
    text-align: left;
    background-color: #e6f7ff;
    align-self: flex-start;
  }
  
  .message-right {
    text-align: left;
    background-color: #f0f0f0;
    align-self: flex-end;
  }
  


/*  INPUT.JSX */

.chat-container {
    position: fixed;
    bottom: 40px;
    left: 60vh;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chat-input {
    width: 650px;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #dcdfe6;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .chat-input:focus {
    border-color: #409eff;
  }
  
  .send-icon {
    width: 35px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .send-icon:hover {
    transform: scale(1.1);
  }
  
