@tailwind base;
@tailwind components;
@tailwind utilities;

*{  
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: none;
}



::-webkit-input-placeholder {
    padding: 10px;
    text-align: left;
}
:-moz-placeholder {
    padding: 10px;
    text-align: left;
}
::-moz-placeholder {
    padding: 10px;
    text-align: left;
}
:-ms-input-placeholder {
    padding: 10px;
    text-align: left;
}

textarea {
    resize: none;
    box-sizing: border-box;
}